validate OID against provided MIB

currently, it seems only generic OID can be validated. 
When specific MIB files are provided and placed inside "snmp" folder, they should be used to validate OIDs


This will be part of 2.0.0 release.

Features:
* MIB Files present in the `extension/snmp` folder will be loaded at startup and used for diagnostics, completions, and actions (similar to the current behvaior for public OIDs)
* An SNMP code lens appears over `snmp:` to allow quick import of MIB files
* Details about OIDs can be viewed by hovering over them in the extension manifest
  ![oid hover](https://github.com/dynatrace-extensions/dynatrace-extensions-vscode/assets/16157796/8c50d4b4-b88e-4be2-b729-539e69ad0f4c)

  ![oid diagnostic](https://github.com/dynatrace-extensions/dynatrace-extensions-vscode/assets/16157796/f45cc78f-bdb0-4194-a377-2473f6749e38)



Adjustments:
* The online database is still used as a fallback for any OID that wasn't available locally
* Loading a MIB File is only possible if all its dependencies (IMPORTS) are also loaded. The VSCode extension will come pre-loaded with some base MIB files:
    * RFC1155-SMI
    * RFC1158-MIB
    * RFC1212-MIB
    * RFC1213-MIB
    * SNMPv2-CONF
    * SNMPv2-MIB
    * SNMPv2-SMI
    * SNMPv2-TC
    * INET-ADDRESS-MIB
* Any dependency outside of these pre-loaded MIBs must be present in the `extension/snmp` folder